/* ------------ base colors ----------------- 
light green : #D5ED18



------------ base colors ----------------- */


html,body,input,form,select,textarea,text{
	font-family:byekan;
}
html,body{width:100%;
	height:100%;
	font-family:byekan,tahoma,sans-serif;
	font-size:14px;direction:rtl;
	color:#333;margin:0;padding:0}
body{background-color: #FCFCFC;
   height: 100%;
   width: 100%;
}
h1{color:#333;margin:0}
h3,h2,h4{color:#333;margin:3px 0 0 0;}
h2.bigtitle {
	    border-left:1px solid #D5ED18;
	    border-top:1px solid #D5ED18;
	    border-bottom:1px solid #D5ED18;
	    border-right: 10px solid #d5ed18;
	    color:#999;
	    background-color:#fff;
	    border-radius:5px;
	    padding:10px 30px 10px 10px;
	    font-size: 23px;
	    margin-top:10px;
	    margin-bottom: 10px;
	    animation-name: anbig;
    	animation-duration: 2s;
}
h2{font-size: 23px;}
h3{font-size: 18px;}
h4{font-size: 15px;}
@keyframes anbig {
    from {border-right: 400px solid #CC0000;
    	    border-left:1px solid #CC0000;
		    border-top:1px solid #CC0000;
	    	border-bottom:1px solid #CC0000;
    }
    to {
    	 border-left:1px solid #D5ED18;
	    border-top:1px solid #D5ED18;
	    border-bottom:1px solid #D5ED18;
	    border-right: 10px solid #d5ed18;
    }
}
label{float:right;width:90px;}
form p{clear:right}
fieldset{border:1px solid #99D799;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
th{text-align: right;}
#header {
    border-bottom: 1px solid #99D799;
    margin: 0 20px;
    overflow: hidden;
    font-size: 200%;
    height:70px;
}
#header a{text-decoration: none;color:#414141}
#logo{margin-top:20px}
#sliderFrame {position:relative;width:800px;margin: 0 auto;}
#slider{width:800px;height:500px;background:#fff url("../images/loading.gif") no-repeat 50% 50%;position:relative;margin:0 auto;}
#slider img{position:absolute;border:none;display:none;}
div.mc-caption-bg{background-color:black;}
div.mc-caption{font: bold 14px/20px Arial;color:#EEE;z-index:4;padding:10px 0;text-align:center;}
#top_bar{height:71px;background: url("../images/topbar_bg.png") repeat-x #F3F3F3;}
#top_bar .shadow{height: 7px;background: url("../images/header_shadow.jpg") top center no-repeat #F3F3F3;border-top:1px solid #fff;}
.add{direction: rtl;font-family: Tahoma;font-size: 9pt;}
.between{color:#CFCFCF;}
.breadcrumbLi{color:#666;display:inline}
.breadcrumbUl{margin:5px 0 0px;padding:0 0 5px 0;border-bottom:1px solid #CFCFCF;}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.breadcrumbUl a{text-decoration:none;color:#002EB7}
.colDesc{font-family:"homa",tahoma,sans-serif;text-align:right;width:245px;font-size:15px;height:200px;line-height: 1.8;text-align: justify;margin:0;}
.colImg{margin-top:7px;border:0px}
.columns{height: 200px;margin:auto;width: 800px;}
.columns .col{float:right;}
.comment{padding:10px 15px 10px 15px; background: #FFFFFF;border:1px solid #CFCFCF;}
.comments li{list-style: none;margin-bottom: 7px;}
.container{width:100%}
.content{width:600px;float:right}
.content2{width:620px;float:right}
.content_shadow{background: url('../images/main_shadow.jpg') center top no-repeat;height: 7px;width: 100%;}
.display_none{display: none;margin:0;padding:0}
.error{color:red;font-size:13px}
.even{background:#E5F1F4}
.footer {
	background:#EDEDED;
    border-top: 1px solid #DDDDDD;
    color:#999;
    margin: 0 auto;
    padding: 3px 0;
    clear: both;
    font-size: 12px;
    position:fixed;bottom:0;left:0;width:100%
}
.footer ul{margin:0;padding:10px}
.footer ul li a{color:#4D5F72;text-decoration:none;font-size:12px}
.footer ul li a:hover{color:#000}
.footer ul li{display:inline;padding-left:8px;}
.header{width:800px;min-width:600px;display:block;overflow:hidden;margin:auto}
.hleft{float:right}
.hint{font-size:11px;color:#999}
.homepage{color: #45586C;height: 100%;width: 100%}
.grid_th{background:url("../images/th.gif") repeat-x}
.gtitle{display:inline-block;float:right}
.hidden_tr{display: none}
.operationCss{text-align:center;width:80px}
.info{background:#d5edf8;color:#205791;border-color:#92cae4}
.items{text-decoration:none;color:#414141;font-size:13px;text-align:justify;line-height:2}
.login{background-color: #FFFFFF;
    border: 2px solid #d5ed18;
    border-right: 10px solid #d5ed18;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 4px 11px;
    margin: 50px auto auto auto;
    max-width: 300px;
    padding: 19px 29px 29px;
    animation-name: anbig;
    animation-duration: 1s;
    }
.logo{float:left;text-align:left}
.logoimg{margin:0;padding:0;border:0px;}
.main_left{float:left;width:455px}
.notice{background:#FFF6BF;color:#514721;border-color:#FFD324}
.notice li{margin-right:15px}
.pageContent{padding-bottom: 100px;width: 100%;}
.pagination{margin:3px;padding:3px}
.pagination a{border:1px solid #aaa;text-decoration:none;;margin:2px;padding:2px 5px}
.pagination a:hover,div.pagination a:active{border:1px solid #009;background-color:#D5ED18;}
.pagination span.current{border:1px solid #999;background-color:#D5ED18;color:#FFF;margin:2px;padding:2px 5px}
.pagination span.disabled{border:1px solid #EEE;color:#DDD;margin:2px;padding:2px 5px}
.props{width: 55px;}
.radius{-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px}
.red,.notice,.success,.info{border:1px solid;line-height:1.5;text-align:justify;margin:10px 0 0;padding:5px 10px 10px;border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);display:inline-block}
.red{background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4}
.search{margin-top:4px;padding:0}
.select{min-width:150px;}
.success{background:#BAEFBE;color:#264409;border-color:#65D562}
.title{color:#333;text-shadow:1px 1px 0 #999;margin:10px 3px 5px 0;font-size:14px}
.txt{width:150px;background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 3px 3px 3px 3px;}
textarea
{
background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 3px 3px 3px 3px;}
.atxt{text-align:justify;list-style:none;font-size:13px;line-height:2;color:#777}
.welcom_notice{color:red;text-decoration: blink}
.amChartsButtonSelected
{
   background-color:#CC0000;
   border-style:solid;
   border-color:#CC00dd;
   border-width:1px;
   color:#FFFFFF;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1px;   
}
.amChartsButton
{
   background-color:#EEEEEE;
   border-style:solid;
   border-color:#CCCCCC;
   border-width:1px;
   color:#000000;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1px;  
}
.amChartsCompareList
{
   border-style:solid;
   border-color:#CCCCCC;
   border-width:1px;
}

.background-container{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow:hidden;
	z-index: -1;
}
.background-image {
  width: 100%;
}
#search_box{
    display: none;
    background-color: #EFEFEF;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    padding: 19px 29px 29px;
    position: fixed;
    top: 35%;
    left: 40%;
}
  
/*make bootstrap menu on hover*/  
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
ul.dropdown-menu{
	width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
	
}

.navbar{
	min-height:0;

}
.dropdown-menu {right:0;min-width:140px;
top:98%;
margin:0px;
padding:0px;}
.dropdown-menu .dropdown-menu {right:100%;top:0px;}
.footer-reserve{
	height:30px;
}
.header-reserve{
	height:60px;
}
.nav li a span:not(.caret) {
	padding: 10px 7px;
	display: inline-block;
	
}
.nav{
		text-align:right;
}
.nav-pills > li  {
	float:right;
}
.nav li a{
	display:block;
	padding:0px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu{
	direction:rtl;
	text-align: right;
}
.dropdown-menu > li > a:hover {
	border-radius: 5px;
}
nav{
	box-shadow: 0px 0px 2px;
}
.navbar-collapse.in{
	overflow-y: visible;
}
#view{
        border-left:1px solid #ddd;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        border-right: 10px solid #ddd;
        color:#333;
        background-color:#fff;
        border-radius:5px;
        padding:10px 30px 10px 10px;
        font-size: 14px;
        margin-top:10px;
        margin-bottom: 10px;
 
}
#add_tbl{
 display: none;   
}
.form-control{
   
}