body,html{height:100%;font-size:12pt;direction:rtl;color:#000;margin:0;padding:0;}
.caption{font-size:13pt;margin-top:0.3cm;margin-bottom:0.1cm}
h1{font-size:15pt;text-align: center;margin-top:0;padding-top:0;margin-bottom:0.5cm}
h2{font-size:13pt;margin-top:0;margin-bottom:0.3cm}
h3{font-size: 14pt;margin-top:0.5cm;margin-bottom:0cm}
#page{margin:auto;/*height:296mm;*/width:210mm;clear: both;}
.content{padding:1cm 1cm 1cm 1cm;}
