@font-face {
    font-family:'byekan';
    src:    url('fonts/byekan.eot') format('eot'),
            url('fonts/byekan.eot#iefix') format('embedded-opentype'), 
            url('fonts/byekan.woff') format('woff'),
            url('fonts/byekan.ttf') format('truetype');
}
html,body,input,form,select,textarea,text{
    font-family:byekan;
}